{{define "posts"}}

{{template "adminHeader"}}

{{template "adminSideMenu"}}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Manage Products</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <div class="card mb-4" id="productPagesContainer">
            {{template "postsTable"}}
        </div>
    </div>
</main>


{{template "adminFooter"}}

{{end}}