{{define "libs"}}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Gruppenreisen Voßkamp</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link href="/static/css/admin.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet" />
    <!-- <script src="https://unpkg.com/htmx.org@2.0.2"></script> -->
    <script src="/static/htmx.js"></script>
    <!-- <script src="https://unpkg.com/htmx-ext-preload@2.0.1/preload.js"></script> -->
    <script src="/static/preload.js"></script>
    <!-- <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script> -->
    <script src="/static/fontawesome.js"></script>

    <style>
        .profile-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #fff;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        .header-container {
            background: #007bff;
            color: #fff;
            padding: 30px 0;
        }
    </style>

    <script>
        htmx.on("htmx:beforeRequest", function (evt) {
            if (evt.detail.elt.preloadState === 'READY') {
                document.getElementById('loadingIndicator').hidden = true
            }
            document.getElementById('loadingIndicator').hidden = true
        });

        document.addEventListener('mouseup', function (e) {
            setTimeout(function () {
                // document.getElementById('loadingIndicator').hidden = false
            }, 128);
        });
    </script>
</head>
{{end}}