{{define "loginForm"}}

<form id="form-container" hx-indicator="#form-container">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Enter email"
            value="{{if .email}}{{.email}}{{end}}">
        {{if .errorMessages.missingEmail}}
        <div class="text-danger">Pflichtfeld</div>
        {{end}}
        {{if .errorMessages.invalidEmail}}
        <div class="text-danger">Falsche email</div>
        {{end}}
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        {{if .errorMessages.missingPassword}}
        <div class="text-danger">Pflichtfeld</div>
        {{end}}
        {{if .errorMessages.invalidPassword}}
        <div class="text-danger">Falsches Passwort</div>
        {{end}}
    </div>
    <button hx-post="/login" hx-target="#form-container" type="submit" class="btn btn-primary">Log In</button>
</form>

{{end}}