{{define "task-list"}}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Done
        </th>
        <th></th>
        <th></th>
    </tr>
    {{range .}}
    <tr>
        <td>
            {{.Name}}
        </td>
        <td>

            {{.Done}}
        </td>
        <td>

            <button hx-delete="/task/{{.Id}}" hx-target="#task-list" hx-confirm="This will be permanent"
                class="btn btn-danger">Delete</button>
        </td>
        <td>

            <button class="btn btn-primary" hx-get="update-task-form/{{.Id}}" hx-target="#add-task-form">Update
                task</button>
            </div>
        </td>
    </tr>
    {{end}}
    </ul>
    {{end}}