{{define "userOverview"}}

{{template "authHeader"}}

<table class="table" style="max-width: 80rem;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
        {{range .Users}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.FirstName}}</td>
            <td>{{.LastName}}</td>
            <td>{{.Email}}</td>
            <td><button hx-delete="/users/{{.ID}}" class="btn btn-danger">Löschen</button></td>
        </tr>
        {{end}}
    </tbody>
</table>


{{template "authFooter"}}

{{end}}