package user

templ UserHeader() {
	<nav class="navbar navbar-dark bg-dark">
		<div class="container">
			<span class="navbar-brand mb-0 h1">Gruppenreisen Voßkamp</span>
			<a class="btn btn-primary" preload href="/login" title="Admin login">
				<i class="ri-admin-line"></i>
			</a>
		</div>
	</nav>
}







